{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">

    <title>Kiddyer</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- <link href="../assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet"> -->
    <link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="{% static 'assets/plugins/chartist-js/dist/chartist.min.css' %} " rel="stylesheet">
    <link href="{% static 'assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css' %} " rel="stylesheet">
    <!--c3 CSS -->
    <link href="{% static 'assets/plugins/c3-master/c3.min.css' %} " rel="stylesheet">
    <!--Toaster Popup message CSS -->
    <link href="{% static 'assets/plugins/toast-master/css/jquery.toast.css' %} " rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %} " rel="stylesheet">

    <!-- Dashboard 1 Page CSS -->
    <link href="{% static 'css/pages/dashboard1.css' %} " rel="stylesheet">

    <!-- You can change the theme colors from here -->
    <link href="{% static 'css/colors/megna-dark.css' %} " rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="user-profile"> <a class="waves-effect waves-dark" href="#" aria-expanded="false"><img src="{% static 'assets/images/users/profile.png' %}" alt="user" /><span class="hide-menu">Bruce </span></a>
                        </li>
                        <li class="nav-devider"></li>
                        <li> <a class="waves-effect waves-dark" href="{% url 'member' %}" aria-expanded="false"><i class="mdi mdi-contact-mail"></i><span class="hide-menu">Member</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{% url 'calendar' %}" aria-expanded="false"><i class="mdi mdi-calendar"></i><span class="hide-menu">Calendar</span></a>
                        </li>
                        <!--<li> <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false" class="google_map"><i class="mdi mdi-map-marker"></i><span class="hide-menu">GPS Location</span></a>-->
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Horizontal navbar and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row hdr-nav-bar">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav mr-auto">
                                <!-- Nav item -->
                                <li class="nav-item active">
                                    <a class="nav-link" href="javascript:void(0)"><i class="fa fa-home"></i> Home</a>
                                </li>
                                <!-- Nav item -->
                            </ul>
                            <div class="call-to-act">
                                <div class="d-flex no-block">
                                    <div class="ml-auto">
                                        <a href="javascript:void(0)" onClick="document.getElementById('logoutform').submit()"><button type="button" class="btn btn-success btn-rounded"><i class="fa fa-sign-out"></i>Logout</button></a>
                                        <form id="logoutform" method="POST" action="{% url 'logout' %}">
                                            {% csrf_token %}
                                            <input type="hidden">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- End Horizontal navbar and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Google map</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div id="map" class="gmaps" style="width: 100%;height: 470px; position: relative; overflow: hidden;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer"> © 2018 Kiddyer Pro by Dr. Shiping Chen </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/perfect-scrollbar.jquery.min.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--sparkline JavaScript -->
    <script src="{% static 'assets/plugins/sparkline/jquery.sparkline.min.js' %}"></script>

    <!--morris JavaScript -->
    <script src="{% static 'assets/plugins/chartist-js/dist/chartist.min.js' %}"></script>

    <script src="{% static 'assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <!--c3 JavaScript -->
    <script src="{% static 'assets/plugins/d3/d3.min.js' %}"></script>

    <script src="{% static 'assets/plugins/c3-master/c3.min.js' %}"></script>
    <!-- Popup message jquery -->
    <script src="{% static 'assets/plugins/toast-master/js/jquery.toast.js' %}"></script>

    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/plugins/styleswitcher/jQuery.style.switcher.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD_UXHyOwQsMOAEJ_WyW7VJwnOdYZGJs4I"></script>

    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>

<!-- Leave out Storage -->
<!-- <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-storage.js"></script> -->
    <script>
   // $(document).ready(function(){
   // $(".google_map").click(function(){
    //    alert("test");


  //  });
   // });
        // Set the configuration for your app
        // TODO: Replace with your project's config object
        var config = {
            apiKey: "AIzaSyB7tQOQDyedWRypB4e301jHgzYPBJYf9wM",
            authDomain: "kiddyer-1521547598504.firebaseapp.com",
            databaseURL: "https://kiddyer-1521547598504.firebaseio.com",
            storageBucket: "",
            messagingSenderId: "226025468668"
        };

        /*var config = {
            apiKey: "AIzaSyBXnaPx5N8UmQueH1dZyVcrlzQG67RePLI",
            authDomain: "kiddyer-3752e.firebaseapp.com",
            databaseURL: "https://kiddyer-3752e.firebaseio.com",
            projectId: "kiddyer-3752e",
            storageBucket: "kiddyer-3752e.appspot.com",
            messagingSenderId: "866110809127"
        };*/


        var userId = '{{ uid }}';
        var group_name = '{{ group_name }}';

        function initFirebase() {

            //USER ID EXIST
            if (!!userId){
                console.log(userId);
                //alert(userId);

                firebase.initializeApp(config);
            //var chatRef = firebase.database().ref().child('location');
            //alert(chatRef);

            // Get a reference to the database service
                var database = firebase.database();
            //var userId = "udL1f8DabHVJMg908ibQZvyVc9f2";
                return true;


            //var groupId = "-LAc6thpQEvdkSAR5Aib";
            }
            else {
                return false;
            }
        }


        //var member_uid = [];

        function getMembers() {
        //var members = firebase.database().ref('member_group/' + userId + '/' + groupId + '/members');
          var keys = firebase.database().ref('member_group/' + userId);
        //console.log();
        //alert(members);
        keys.on('value', function (snapshot) {
            member_obj = snapshot.val();
            console.log(member_obj);
           // alert('member group');
            var member_keys = Object.keys(member_obj);
            var member_info = [];
            for (var i in member_keys) {
                //console(i);
                //alert(i);
                if (group_name == member_obj[member_keys[i]].groupName){
                    member_info.push(member_obj[member_keys[i]].members);
                }

            }

            console.log('member_info');
            console.log(member_info);
            var members_unit = [];

            for(var k = 0; k< member_info.length; k++) {
                console.log(member_info.length);
                for (var g = 0; g < member_info[k].length; g++){
                    members_unit.push(member_info[k][g]);
                }

            }

            console.log(members_unit);
            var members_uid = [];
            for (var j in members_unit) {
                members_uid.push(members_unit[j].uid);
            }
            console.log('members');
            console.log(members_uid);
            console.log('location1');
            getMemberLocation(members_uid);
        })
    }





    function getMemberLocation(member_uid) {
        var location_data = firebase.database().ref('location/');
        location_data.on('value', function (snapshot) {

            var location_keys = snapshot.val();
            var location_Info = [];
            var location_group = [];
            //alert('location');
            console.log('location2');
            console.log(location_keys);

            for (var i in member_uid) {
                for (var j in location_keys) {
                    if (j == member_uid[i]) {

                        location_Info.push(location_keys[j]);


                       /* var lat = location_Info[j].lat;
                        var lng = location_Info[j].lng;
                        var location_single = [lat, lng];
                        console.log(location_single);
                        location_group.push(location_single);*/
                    }
                }
            }
            console.log(location_Info);
            for (var k in location_Info) {
                var lat = location_Info[k].lat;
                var lng = location_Info[k].lng;
                var location_single = [lat, lng];
                location_group.push(location_single);
            }

            /*for (var i in location_keys) {
                console.log(i);
                var uId = i;
                for (var j in member_uid) {
                    console.log(j);
                    console.log(member_uid[j]);
                    if (uId == member_uid[j]) {
                        location_Info.push(location_keys[uId]);
                        console.log(location_Info);
                        console.log(location_Info[j].lat);
                        var lat = location_Info[j].lat;
                        var lng = location_Info[j].lng;
                        var location_single = [lat, lng];
                        console.log(location_single);
                        location_group.push(location_single);
                    }
                }

            }*/
            console.log(location_group);
            loadMap(location_group);
        })


    }

    //getMemberLocation();

    function loadMap(locationGroup) {
        console.log('location3');


        var map;
        var mark;
        var bounds = new google.maps.LatLngBounds();

        var mapOptions = {
            mapTypeId: 'roadmap'
        };

        // Display a map on the page
        map = new google.maps.Map(document.getElementById("map"), mapOptions);

        map.setTilt(45);

        // Multiple Markers
        var markers = locationGroup;
        //console.log(markers);

        // Info Window Content
        //var infoWindowContent = location_group;

        //var infoWindow = new google.maps.InfoWindow();
        var marker, i;

        console.log('location4');

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: new google.maps.LatLng(markers[1][0], markers[1][1]),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var icon = {
             url: '{% static 'assets/images/background/marker.png' %}', // url
             scaledSize: new google.maps.Size(50, 50), // scaled size

        };

        for (i = 0; i < markers.length; i++) {
              var position = new google.maps.LatLng(markers[i][0], markers[i][1]);
              bounds.extend(position);
                //alert(position);
               marker = new google.maps.Marker(
                    {
                        position: position,
                        map: map,
                        //icon: 'http://res.cloudinary.com/yopo/image/upload/r_19/v1509367508/kiddyer/baby-laughing-icon_1.png',
                        //icon: '{% static 'assets/images/background/marker1.png' %}',
                        icon:icon,
                        title: 'Kid',
                        //animation: google.maps.Animation.DROP
                    });


        }
    }

    if (initFirebase()) {
        getMembers();
    }

    </script>
</body>

</html>